[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
responder = "*"
python-dotenv = "*"
peewee = "*"
"psycopg2" = "*"
"pypeg2" = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
